<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>{{count}}</div>
  <div [ngClass]="{'positive': count > 6, 'negative': count < -3}">{{state}}</div>
  <app-button [content]="'positive'" (click)="onPositiveClick()"></app-button>
  <app-button [content]="'negative'" (click)="onNegativeClick()"></app-button>
  <div>{{textFromUser}}</div>
  <!--<app-input [value]="inputValue" (changedValue)="onInputChange($event)"></app-input>-->
  <app-input [value]="' '" (keyup)=" onInputChange()"></app-input>
  <div>{{textFromUser}}</div>
</div>
